/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#courses-table
{
    width: 100%;
}

#courses-table td
{
    padding: 25px;
    font-size: 18px;
}

#courses-table td:nth-child(1)
{
    width: 125px;
    text-align: center;
}
